In [0]:
%python
df_airlines =(spark.read.format("csv")
              .option("header", "true")
              .option("inferSchema", "true")
              .load("abfss://bronze@revtraining.dfs.core.windows.net/dataset/airlines.csv")               

)

In [0]:
%sql
CREATE TABLE IF NOT EXISTS aviation_project.bronze.airlines
   USING DELTA
   LOCATION 'abfss://bronze@revtraining.dfs.core.windows.net/Tables/airlines'

In [0]:
%python
df_airlines.write.mode("overwrite").option(
       "overwriteSchema", "true"
   ).format("delta").save("abfss://bronze@revtraining.dfs.core.windows.net/Tables/airlines")

In [0]:
%sql
select * from aviation_project.bronze.airlines limit 2

**Data Quality Checks:**
 - Null
 - Duplicate
 - IATA code character length for airlines
 - Data Type

In [0]:
 
%sql

-- find the null values in all the columns

SELECT 
  SUM(CASE WHEN IATA_CODE IS NULL THEN 1 ELSE 0 END) AS IATA_nulls,
  SUM(CASE WHEN Airline IS NULL THEN 1 ELSE 0 END) AS Airline_nulls

FROM aviation_project.bronze.airlines;

In [0]:
%sql

-- find duplicate records

select count(*), IATA_CODE, airline
from aviation_project.bronze.airlines
group by IATA_CODE, airline
having count(*) > 1

In [0]:
%sql

select *
from aviation_project.bronze.airlines
where length(IATA_CODE) != 2

In [0]:
%sql
DESCRIBE TABLE aviation_project.bronze.airlines