In [0]:
 %sql
Create or Replace table aviation_project.gold.dim_airlines as

SELECT
    sha2(concat_ws('||', IATA_CODE), 256) AS AIRLINE_SK,
    IATA_CODE,
    AIRLINE_NAME,
    AIRLINE,
    AIRLINE_CATEGORY,
    CODE_VALIDATION,
    RECORD_DATE
FROM aviation_project.silver.airlines;

In [0]:
%sql

select * from aviation_project.gold.dim_airlines limit 2

Data Quality Check:
 - Data type
 - Primary Key Uniquness
 - Null 
 - IATA_CODE check for airlines

In [0]:
%sql
describe table aviation_project.gold.dim_airlines

In [0]:
%sql
 -- primary key uniqueness
select count(airline_sk), airline_sk from aviation_project.gold.dim_airlines group by airline_sk
having count(airline_sk) > 1

In [0]:
%sql
-- null values check
SELECT
  COUNT(*) AS total_records,

  SUM(CASE WHEN AIRLINE_SK IS NULL THEN 1 ELSE 0 END) AS AIRLINE_SK_NULLS,
  SUM(CASE WHEN IATA_CODE IS NULL THEN 1 ELSE 0 END) AS IATA_CODE_NULLS,
  SUM(CASE WHEN AIRLINE_NAME IS NULL THEN 1 ELSE 0 END) AS AIRLINE_NAME_NULLS,
  SUM(CASE WHEN AIRLINE IS NULL THEN 1 ELSE 0 END) AS AIRLINE_NULLS,
  SUM(CASE WHEN AIRLINE_CATEGORY IS NULL THEN 1 ELSE 0 END) AS AIRLINE_CATEGORY_NULLS,
  SUM(CASE WHEN CODE_VALIDATION IS NULL THEN 1 ELSE 0 END) AS CODE_VALIDATION_NULLS,
  SUM(CASE WHEN RECORD_DATE IS NULL THEN 1 ELSE 0 END) AS RECORD_DATE_NULLS
FROM aviation_project.gold.dim_airlines;

In [0]:
%sql
-- IATA_CODE for airlines

select *
from aviation_project.gold.dim_airlines
where length(IATA_CODE) != 2